:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Head  */
.content {
  overflow: hidden;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .avatar .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .search i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.head .avatar img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* End Head */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.page h1::before {
  width: 120px;
  background-color: white;
}
.page h1::after {
  width: 40px;
  background-color: black;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* Start Welcome */
.wrapper .welcome {
  overflow: hidden;
}
@media (max-width: 767px) {
  .welcome .top {
    padding-bottom: 30px;
  }
}
.welcome .top img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .center {
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
}
.welcome .center .box {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}

/* End Welcome */
/* Start Draft */
.draft textarea {
  resize: none;
  min-height: 180px;
}
.draft .visit {
  margin-left: auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.draft .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Draft */
/* Start Targets */
.target .box .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.target .box:first-of-type .icon {
  background-color: rgb(0 117 255 / 20%);
}
.target .box:nth-of-type(2) .icon {
  background-color: #fdecce;
}
.target .box:last-of-type .icon {
  background-color: #d3f3df;
}
.target .box .info {
  flex: 1;
}
.target .box .info .the-progress {
  width: 100%;
  height: 5px;
  background-color: #eee;
  position: relative;
}
.target .box .info .the-progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.target .box .info .the-progress > span::before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  border: 5px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.target .box .info .the-progress > span::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -34px;
  font-size: 13px;
  color: white;
  background-color: black;
  padding: 3px;
  border-radius: 3px;
}
.target .box .info .blue > span::before {
  border-top-color: var(--blue-color);
}
.target .box .info .blue > span::after {
  background-color: var(--blue-color);
  content: "80%";
}
.target .box .info .orange > span::before {
  border-top-color: var(--orange-color);
}
.target .box .info .orange > span::after {
  content: "55%";
  background-color: var(--orange-color);
}
.target .box .info .green > span::before {
  border-top-color: var(--green-color);
}
.target .box .info .green > span::after {
  content: "75%";
  background-color: var(--green-color);
}
.target .box .info .blue {
  background-color: rgb(0 117 255 / 20%);
}
.target .box .info .blue span {
  background-color: var(--blue-color);
}
.target .box .info .orange {
  background-color: #fdecce;
}
.target .box .info .orange span {
  background-color: var(--orange-color);
}

.target .box .info .green {
  background-color: #d3f3df;
}
.target .box .info .green span {
  background-color: var(--green-color);
}
/* End Targets */
/* Start Stats */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Stats */
/* Start News */
.news .news-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.news .news-row .info {
  flex-grow: 1;
}
.news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
/* End News */
/* Start Tasks */
.tasks .tasks-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.tasks .delete {
  cursor: pointer;
  color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red-color);
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3 {
  text-decoration: line-through;
}
.tasks .done p {
  text-decoration: line-through;
}
/* End Tasks */
/* Start Latest Uploads */
.latest-uploads .info {
  margin-top: -10px;
}
.latest-uploads .info:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-uploads .info img {
  width: 40px;
}
.latest-uploads .info .text {
  flex-grow: 1;
}
/* End Latest Uploads */
/* Start Last Progress */
.last-progress {
  overflow: hidden;
}
.last-progress ul {
  flex-direction: column;
  border-left: var(--blue-color) 2px solid;
  margin-left: 15px;
}
.last-progress ul li {
  padding-bottom: 15px;
  padding-left: 40px;
  position: relative;
}
.last-progress ul li:last-of-type {
  padding-bottom: 0;
}
.last-progress ul li::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -5px;
  width: 24px;
  height: 24px;
  background-color: white;
  border: var(--blue-color) 2px solid;
  border-radius: 50%;
}
.last-progress ul li::after {
  content: "";
  position: absolute;
  left: -11px;
  top: -1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-color);
  opacity: 1;
}
.last-progress ul .light::after {
  animation: light 1s alternate infinite;
}
.last-progress ul li:last-of-type::after {
  background-color: white;
}
@keyframes light {
  0% {
    background-color: var(--blue-color);
  }
  100% {
    background-color: white;
  }
}
.last-progress img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.1;
  animation: top-down 1s alternate infinite linear;
}
@keyframes top-down {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
/* End Last Progress */
/* Start Reminders */
.reminders ul {
  flex-direction: column;
}
.reminders ul li {
  margin-bottom: 10px;
}
.reminders ul li div {
  margin-left: 40px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 2px solid;
}
.reminders ul li .blue {
  border-left-color: var(--blue-color);
}
.reminders ul li .green {
  border-left-color: var(--green-color);
}
.reminders ul li .orange {
  border-left-color: var(--orange-color);
}
.reminders ul li .red {
  border-left-color: var(--red-color);
}
.reminders ul li div .circle {
  left: -30px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.reminders ul li div .step {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
.reminders ul li div .date {
  font-size: 12px;
}
/* End Reminders */
/* Start Latest Post */
.latest .post-writer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.latest .post-writer .image img {
  width: 50px;
  height: 50px;
}
.latest .post-writer .text {
  margin-left: 10px;
}
.latest .post-writer .text h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
.latest .post-writer .text span {
  font-size: 12px;
}
.latest p {
  text-transform: capitalize;
  padding: 20px 10px;
  line-height: 1.8;
  text-align: center;
  border-top: rgb(0, 0, 0, 10%) 0.5px solid;
  border-bottom: rgb(0, 0, 0, 10%) 0.5px solid;
}
.latest .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.latest .bottom div:first-of-type:hover {
  color: var(--red-color);
}
.latest .bottom div:last-of-type:hover {
  color: var(--blue-color);
}
.latest .bottom span {
  margin-left: 5px;
}
/* End Latest Post */
/* Start Social */
.social .social-section {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
}
.social .twitter {
  background-color: #d2ecfb;
  margin-top: 20px;
}
.social .twitter i,
.social .twitter a {
  background-color: #1da1f3;
}
.social .facebook {
  background-color: #d2e4fc;
}
.social .facebook i,
.social .facebook a {
  background-color: #1878f3;
}
.social .youtube {
  background-color: #fecccb;
}
.social .youtube i,
.social .youtube a {
  background-color: #fd0000;
}
.social .linkedin {
  background-color: #cce4f0;
}
.social .linkedin i,
.social .linkedin a {
  background-color: #0077b4;
}
.social .social-section .icon i {
  font-size: 30px;
  margin: 0;
  width: 50px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
}
.social .social-section .icon i:hover {
  transform: rotate(5deg);
}
.social .social-section .icon span {
  margin-left: 20px;
}
.social .social-section a {
  color: white;
  font-size: 12px;
  margin-right: 10px;
}
/* End Social */
/* Start Projects */
.table {
  overflow-x: auto;
}
table {
  min-width: 1000px;
  border: 1px solid #eee;
  border-spacing: 0;
}
table thead td {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  background-color: #eee;
}
table td {
  padding: 15px;
}
table tr {
  transition: 0.3s;
}
table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
table tbody tr:hover td {
  background-color: #faf7f7;
}
table img {
  width: 30px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
table img:not(:first-of-type) {
  margin-left: -20px;
}
table span {
  font-size: 13px;
}
/* End Projects */
/* End Dashboard page */

/* Start Settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* Start control */
.settings-page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
/* End control */
/* Start General Info */
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
/* End General Info */
/* Start Security */
.security .security-section:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
/* End Security */
/* Start Social Boxes */
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
/* End Social Boxes */
/* Start Widgets Control */
.widgets-control ul li {
  margin-bottom: 10px;
}
.widgets-control ul li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control ul li label {
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}
.widgets-control ul li label::before {
  content: "";
  position: absolute;
  border: 2px solid var(--grey-color);
  width: 15px;
  height: 15px;
  left: -20px;
  top: 50%;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.widgets-control ul li label:hover::before {
  border-color: var(--blue-color);
}
.widgets-control ul li label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: transparent;
  color: transparent;
  width: 15px;
  height: 15px;
  left: -20px;
  top: 50%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transform: translateY(-50%) rotate(90deg) scale(0);
  -webkit-transform: translateY(-50%) rotate(90deg) scale(0);
  -moz-transform: translateY(-50%) rotate(90deg) scale(0);
  -ms-transform: translateY(-50%) rotate(90deg) scale(0);
  -o-transform: translateY(-50%) rotate(90deg) scale(0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.widgets-control ul li input:checked + label::after {
  background-color: var(--blue-color);
  color: white;
  transform: translateY(-50%) rotate(0deg) scale(1);
  -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
  -moz-transform: translateY(-50%) rotate(0deg) scale(1);
  -ms-transform: translateY(-50%) rotate(0deg) scale(1);
  -o-transform: translateY(-50%) rotate(0deg) scale(1);
}
/* End Widgets Control */
/* Start Backup Manager */
.backup ul {
  border-bottom: 1px solid #eee;
}
.backup ul li {
  margin-bottom: 10px;
}
.backup ul li input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup ul li label {
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}
.backup ul li label::before {
  content: "";
  position: absolute;
  border: 2px solid var(--grey-color);
  width: 21px;
  height: 21px;
  left: -23px;
  top: 50%;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.backup ul li input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup ul li label::after {
  content: "";
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--blue-color);
  width: 13px;
  height: 13px;
  left: -19px;
  top: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%) rotate(90deg) scale(0);
  -webkit-transform: translateY(-50%) rotate(90deg) scale(0);
  -moz-transform: translateY(-50%) rotate(90deg) scale(0);
  -ms-transform: translateY(-50%) rotate(90deg) scale(0);
  -o-transform: translateY(-50%) rotate(90deg) scale(0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.backup ul li input[type="radio"]:checked + label::after {
  background-color: var(--blue-color);
  color: white;
  transform: translateY(-50%) rotate(0deg) scale(1);
  -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
  -moz-transform: translateY(-50%) rotate(0deg) scale(1);
  -ms-transform: translateY(-50%) rotate(0deg) scale(1);
  -o-transform: translateY(-50%) rotate(0deg) scale(1);
}
.backup .servers {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .backup .servers {
      flex-wrap: wrap;
  }
}
.backup .servers input[type="radio"] {
  appearance: none;
}
.backup .servers .server {
  border: 1px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.backup .servers input[type="radio"]:checked + .server {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
/* End Backup Manager */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* End Settings */
/* Start Profile Page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
/* Start Training Code */
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* End Training Code */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* End Profile Page */